@import url("https://fonts.googleapis.com/css2?family=Sunflower:wght@300;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}